# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
# Usually these files are written by a python script from a template
# before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-this-directory.txt

# Temporary files
*.js.old
*.html.old
*.old
*.tmp
*.temp
temp_drop_collections.js
temp_drop_collections.py
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Flask specific files:
instance/
.webassets-cache

# Sphinx documentation
docs/_build/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# pyenv
.python-version

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

### IDEs ###
# Visual Studio project files
*.pyproj
*.pyproj.user
# Visual Studio
.vs/
*.suo
*.user
obj/
bin/

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/

# HAR files
*.har

# Poetry
# poetry.lock

# Log files
logs/
*.log

# Test files
tests/__pycache__/
tests/*.log

# Temporary commit message file
commit_message.txt